@import "tailwindcss";
@import "@nuxt/ui";
@plugin "@tailwindcss/typography";

:root {
  --ui-primary: var(--ui-color-primary-700);
  --ui-success: var(--ui-color-primary-700);
  --ui-warning: var(--ui-color-warning-600);
  --ui-error: var(--ui-color-error-700);
}

.dark {
  --ui-primary: var(--ui-color-primary-500);
  --ui-success: var(--ui-color-primary-500);
  --ui-warning: var(--ui-color-warning-500);
  --ui-error: var(--ui-color-error-500);
}